
.App-menubar {
  color: white;
  background-color: #00bcd4;
  display: flex;
}

.App-menubar .menu-content {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0,0,0,.14);
    height: 100vh;
    width: 250px;
    color: #212121;
    transform: translateX(-250px);
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: transform,left;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index: 999;
}

.App-menubar .overlay.active {
    background-color: rgba(0,0,0,.50);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 998;
}

.App-menubar  .menu-content.opened  {
    transform: translateX(0);
}

.App-menubar .hamburger-icon {
  font-size: 2rem;
  padding: 1rem;
}

.App-menubar .links-container {
    flex: 1;
}

.App-menubar .social-links {
    display: flex;
    justify-content: space-around;
    padding: 2rem 4rem;
}

.App-menubar .page-link {
    padding: .5rem;
    display: block;
    text-decoration: none;
    color: #212121;
}

.App-menubar .page-link:hover {
    cursor: pointer;
    color: #00bcd4;
}