.App-footer {
    background-color: rgba(158, 158, 158, .50);
    color: white;
}

.App-footer .social-links {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.App-footer .social-links a {
    color: rgba(100, 100, 100, 100)
}